<!DOCTYPE html>
<html>
    <head>
        <title>
            Request counter
        </title>
    </head>
    <body>
        <p>
            <a href="/request-counter">GET request link</a>
        </p>
        <p>
            <form action="/request-counter" method="POST" id="postform">
                <button value="POST request button" type="submit" form="postform">
                    POST request button
                </button>
            </form>
        </p>
        <p>
            <a href="/statistics">Statistics</a>
        </p>
    </body>
</html>